# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# Environment
.env

# Alembic
migrations/versions/*.pyc

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/